@import url('Https://fonts.googleapis.com/css2?family=Poppins');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
}
h1{
    font-size: 2.5rem;
    color: #085C11;
    line-height: 50px;
}
p{
    font-size: 0.6rem;
    font-weight: 600;
    color: #475C46;
}
h3, h5{
    color: #085C11;
}
.btn{
    background-color: #085C11;
    padding: 10px 25px;
    border-radius: 50px;
    color: #fff;
    height: 45px;
    width: fit-content;
    transition: .3s ease;
}
.btn2{
    border-radius: 50px;
    border: 1px solid #085C11;
    padding: 10px 25px;
    color: #085C11;
    transition: .5s ease;
}
.btn:hover{
    border: 1px solid #085C11;
    color: #085C11;
    background-color: #fff;
}
.btn2:hover{
    background-color: #085C11;
    color: #fff;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    color:  #475C46;
}
header .right ul{
    display: flex;
    gap: 50px;
}
header .right ul li a{
    color:  #475C46;
    font-size: 0.8rem;
}

.hamburger{
    display: none;
}




/* Home Section */
#home{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
}
#home .left{
    width: 400px;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: 50px;
}
#home .left .buttons{
    display: flex;
    gap: 20px;
}
#home .right{
    width: 400px;
    height: 400px;
}
#home .right img{
    width: 100%;
}





/* About Section */
#about{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 100px;
}
#about .left{
    width: 450px;
    height: 400px;
}
#about .left img{
    width: 100%;
}
#about .right{
    width: 450px;
    height: 350px;
    display: grid;
    gap: 20px;
}
#about .right .text{
    display: grid;
    gap: 6px;
}






/* Services section */
#services{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: center;
    padding: 10px 100px;
    text-align: center;
}
#services .up{
    height: fit-content;
}
#services .down{
    display: flex;
    justify-content: center;
    gap: 40px;
    color: #fff;
    height: fit-content;
}
.box{
    background-color: #085C11;
    width: 220px;
    height: 220px;
    border-radius: 30px;
    padding:  10px 20px;
    display: grid;
    justify-content: center;
    align-items: center;   
}
.box img{
    width: 70px;
    height: 70px;
    margin: auto;
}
.box .text{
    display: grid;
    gap: 10px;
}







/* Reviews section */
#reviews{
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 100px;
    margin-top: 70px;
    gap: 30px;
}
#reviews .up{
    display: grid;
    gap: 20px;
}
#reviews .down{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
#reviews .down .boxes{
    background-color: #fff;
    border: 4px solid #085C11;
    width: 220px;
    height: 220px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding:  10px 20px;
    display: grid;
    justify-content: center;
    align-items: center; 
}
.boxes img{
    width: 70px;
    height: 70px;
    margin: auto;
}
.boxes .text{
    display: grid;
    gap: 10px;
}


.logo{
    color: #475C46;
    display: flex;
}




footer{
    height: 50vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 100px;
    margin-top: 70px;
    gap: 70px;
}
footer .up{
    display: flex;
    justify-content: space-between;
}
footer .up .one{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer .up .two, .three, .four{
    display: grid;
    gap: 15px;
}
footer .down{
    display: flex;
    justify-content: space-around;
    align-items: start;
}
footer .down .left{
    display: flex;
    gap: 20px;
}
i{
    color: #085C11;
    border-radius: 50%;
    border: 1px solid #085C11;
    padding: 5px;
    transition: .5s ease;
    background-color: #EDFFEF;
}
i:hover{
    color: #fff;
    background-color: #085C11;
}







@media only screen and (max-width: 1000px){
    .hamburger{
        display: initial;
    }
    header{
        padding: 10px 30px;
    }
    .nav-bar{
        height: 0;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        width: 100%;
        background: #085C11;
        transition: 0.5s;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }
    .nav-bar.active{
        height: 250px;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 30px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul{
        opacity: 1;
        display: grid;
        gap: 20px;
    }
    .nav-bar ul li a{
        margin-bottom: 2px;
    }
    header .right ul li a{
        color:  #fff;
    }
    


    .ham-menu{
        height: 40px;
        width: 40px;
        position: relative;
    }
    .ham-menu span{
        height: 3px;
        width: 100%;
        background-color: #085C11;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }
    .ham-menu span:nth-child(1){
        top: 25%;
    }
    .ham-menu span:nth-child(3){
        top: 75%;
    }

    .ham-menu.active span:nth-child(1){
        top: 50%;
        transform: 
            translate(-50%, -50%)
            rotate(45deg);
    }
    .ham-menu.active span:nth-child(2){
        opacity: 0;
    }
    .ham-menu.active span:nth-child(3){
        top: 50%;
        transform: 
            translate(-50%, -50%)
            rotate(-45deg);
    }

    .dropdown.active{
        background-color: #085C11;
        height: 500px;
    }

}











@media only screen and (max-width: 800px){
    .hamburger{
        display: initial;
    }
    header{
        padding: 10px 30px;
    }
    .nav-bar{
        height: 0;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        width: 100%;
        background: #085C11;
        transition: 0.5s;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }
    .nav-bar.active{
        height: 250px;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 30px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul{
        opacity: 1;
        display: grid;
        gap: 20px;
    }
    .nav-bar ul li a{
        margin-bottom: 2px;
    }
    header .right ul li a{
        color:  #fff;
    }
    


    .ham-menu{
        height: 40px;
        width: 40px;
        position: relative;
    }
    .ham-menu span{
        height: 3px;
        width: 100%;
        background-color: #085C11;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }
    .ham-menu span:nth-child(1){
        top: 25%;
    }
    .ham-menu span:nth-child(3){
        top: 75%;
    }

    .ham-menu.active span:nth-child(1){
        top: 50%;
        transform: 
            translate(-50%, -50%)
            rotate(45deg);
    }
    .ham-menu.active span:nth-child(2){
        opacity: 0;
    }
    .ham-menu.active span:nth-child(3){
        top: 50%;
        transform: 
            translate(-50%, -50%)
            rotate(-45deg);
    }

    .dropdown.active{
        background-color: #085C11;
        height: 500px;
    }




    /* Home section */
    #home{
        display: block;
        gap: 20px;
        height: 110vh;
        padding: 0 20px;
    }
    #home .left{
        width: 100%;
        padding: 0 20px;
    }
    #home .right{
        width: 100%;
    }
    h1{
        font-size: 2rem;
        line-height: 45px;
    }
    .btn{
        background-color: #085C11;
        padding: 10px 20px;        
        border-radius: 50px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        transition: .3s ease;
        font-size: 0.8rem;
    }
    
    .btn2{
        border-radius: 50px;
        border: 1px solid #085C11;
        padding: 10px 20px;
        color: #085C11;
        transition: .5s ease;
        font-size: 0.8rem;
    }





    #about{
        height: 100vh;
        display: block;
        padding: 0 20px;
    }
    #about .left{
        width: 100%;
    }
    #about .right{
        width: 100%;
        padding: 0 15px;
    }



    #services{
        height: 150vh;
        padding: 0 20px;
    }
    #services .down{
        display: grid;
    }
    #services .down p{
        color: #fff;
        font-weight: normal;
    }



    #reviews{
        height: 130vh;
        padding: 0 20px;
    }
    #reviews h1{
        font-size: 1.7rem;
    }
    #reviews .down{
        display: grid;
    }



    footer{
        height: 100vh;
        padding: 0 20px;
    }
    footer .up{
        display: grid;
        gap: 20px;
    }
    footer .down{
        display: grid;
        gap: 20px;
    }
}


